/*
* @Author: ValenW
* @Date:   2014-10-28 14:11:40
* @Last Modified by:   ValenW
* @Last Modified time: 2014-10-29 13:38:44
*/
body {
    font-family: "微软雅黑", sans-serif, serif;
}
table {
    border: 1px #708090 solid;
    border-spacing: 0px;
}
th  {
    background-color: #000080;
    color: white;
    text-align: left;
    padding: 0.2em 3em 0.2em 0.2em;
    border: 1px #708090 solid;
    background-repeat: no-repeat;
    background-position: right;
    cursor:pointer;
}
td {
    border: 1px #708090 solid;
    padding-right: 40px;
}
.alternate {
    background-color: #FFE4E1;
}
